<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layouts/header'); %>
    <meta charset="UTF-8">
    <title>G2 Test</title>
</head>
<body>
<%- include('layouts/navigation'); %>
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Candidate's Details</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p></p>
            <div class="my-5">
                <br/>
                <form action="/feedback" method="post">
                    <h2>Appointment Details</h2>
                    <div class="form-floating">
                        <input type="hidden" value='<%= data._id %>' name="id">
                        <input class="form-control" id="name" name="lastName" type="text"
                               placeholder="Enter your name..."
                               data-sb-validations="required" value='<%= data.appointment.date %>' readonly/>
                        <label for="name">Date</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="lastName" type="text"
                               placeholder="Enter your name..."
                               data-sb-validations="required" value='<%= data.appointment.time %>' readonly/>
                        <label for="name">Time</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="lastName" type="text"
                               placeholder="Enter your name..."
                               data-sb-validations="required" value='<%= data.testType %>' readonly/>
                        <label for="name">Time</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <br/>
                    <h2>Personal Information</h2>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="lastName" type="text"
                               placeholder="Enter your name..."
                               data-sb-validations="required" value='<%= data.firstName %>' readonly/>
                        <label for="name">First Name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="lastName" type="text"
                               placeholder="Enter your name..."
                               data-sb-validations="required" value='<%= data.lastName %>' disabled/>
                        <label for="name">Last Name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="age" type="text"
                               placeholder="Enter your name..."
                               data-sb-validations="required" value='<%= data.age %>' disabled/>
                        <label for="name">Age</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="licenseNo" type="text"
                               placeholder="Enter your name..."
                               value='<%- data.licenseNo %>' data-sb-validations="required" disabled/>
                        <label for="name">License Number</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <br/>
                    <h2>Vehicle Information</h2>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="make" type="text"
                               placeholder="Enter your name..." value='<%= data.carDetails.make %>'
                               data-sb-validations="required" readonly/>
                        <label for="name">Make</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="model" type="text"
                               placeholder="Enter your name..." value='<%= data.carDetails.model %>'
                               data-sb-validations="required" readonly/>
                        <label for="name">Model</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="year" type="text"
                               placeholder="Enter your name..." value='<%= data.carDetails.year %>'
                               data-sb-validations="required" readonly/>
                        <label for="name">Year</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-floating">
                        <input class="form-control" id="name" name="plateNo" type="text"
                               placeholder="Enter your name..." value='<%= data.carDetails.plateNo %>'
                               data-sb-validations="required" readonly/>
                        <label for="name">Plate No</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <br/>
                    <h2>Examiner Feedback</h2>
                    <% if (data.feedback && data.isPassed !== null){ %>
                        <div class="form-floating">
                            <input class="form-control" id="name" name="feedback" type="text"
                                   placeholder="Enter your name..." value='<%= data.feedback %>'
                                   data-sb-validations="required" readonly/>
                            <label for="name">Feedback</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                    <% }else{ %>
                        <div class="form-floating">
                            <input class="form-control" id="name" name="feedback" type="text"
                                   placeholder="Enter your name..." data-sb-validations="required"/>
                            <label for="name">Feedback</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                    <% } %>
                    <br/>
                    <div class="form-floating">
                        <% if (data.isPassed !== null){ %>
                            <% if (data.isPassed){ %>
                                <div class="form-check form-check-inline">
                                    <input disabled checked class="form-check-input" type="checkbox"
                                           name="testResult"
                                           id="inlineRadio3" readonly>
                                    <label class="form-check-label" for="inlineRadio3">Candidate Passed?</label>
                                </div>
                            <% }else{ %>
                                <div class="form-check form-check-inline">
                                    <input disabled class="form-check-input" type="checkbox"
                                           name="testResult"
                                           id="inlineRadio3" readonly>
                                    <label class="form-check-label" for="inlineRadio3">Candidate Passed?</label>
                                </div>
                                <br/>
                                <br/>
                                <input type="hidden">
                                <button class="btn btn-primary text-uppercase" name="reset" id="submitButton"
                                        type="submit">Reset
                                </button>
                            <% } %>
                        <% } else { %>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox"
                                       name="testResult"
                                       id="inlineRadio3">
                                <label class="form-check-label" for="inlineRadio3">Candidate Passed?</label>
                            </div>
                            <br/>
                            <br/>
                            <button class="btn btn-primary text-uppercase" name="submit" id="submitButton"
                                    type="submit">Submit
                            </button>
                        <% } %>
                        <br/>
                        <br/>
                    </div>
                    <br/>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('layouts/footer'); %>
</body>
</html>